div{border:0;padding:0;}
body{
	background:#EFEFEF;
	font-family: sans-serif;
	margin:0;
	padding:0;
}
@font-face {
	font-family: "neuropol";
	src: url(./../img/neuropol.ttf) format("truetype");
}
a{
	text-decoration: none;
	color: #5071BD;
}
a:hover{
	color: #D15F00;
}
img{
	margin: 0;
}
h1{
	text-shadow:1px 1px 5px #FFF;
	font-size:40px
}
/* section code */
pre{
  background: #DBE7EA url(../img/code.png) no-repeat scroll 5px 5px;
  font-family:"Bitstream Vera Sans Mono",Monaco,"Lucida Console",monospace;
  margin: 10px 5px;
  padding:10px 10px 10px 35px;
  color: #1A1A1A;
  border: 1px solid #bbb;
  width: 725px;
  overflow: auto;
  white-space: pre;
  opacity:0.9;
  -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
}
p code{
	background:#fdfdfd;
	font-family:"Bitstream Vera Sans Mono",Monaco,"Lucida Console",monospace;
	font-size:0.9em;
	border: 1px solid #ddd;
	color:#222;
	border: solid 1px #EADC94;
}
p{
	text-align:justify;
}
blockquote {
    background-image: url(../img/note.png);
    background-position: 10px center;
    background-repeat: no-repeat;
    background-color: #FFF6C8;
    font-size: 1em;
    font-style: italic;
    line-height: 20px;
    padding:2px 35px;
    text-align: left;
    border: solid 1px #EADC94;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		-o-border-radius: 10px;
		border-radius: 10px;
		color: #170C00;
		opacity:0.9;
}
blockquote p{
  padding:0;
  text-shadow:none;
}
tr:nth-child(2n) {
  background:#EEE;
}
tr:hover{
	background:#FFF3D4;
}
/*****************************************************************************************
 ********************************* layout section ****************************************
*****************************************************************************************/
#head{
	width:800px;
	height:153px;
	background: #1A1A1A;
	padding:0 10px 0 10px;
	margin:0 Auto 0 Auto;
}
#head a#logoSICA{
	width: 217px;
	height:153px;
	display:block;
	float: left;
	background:URL(../img/logo_sica.png) no-repeat;
}
#head a#logoSICA:hover{
	background-position:0 -153px;
}
#head div#colaboradores{
	background:URL(../img/colaboradores.png) no-repeat;
	position:absolute;
	width:400px;
	height:177px;
	margin-left: 415px;
}
#content{
	width: 800px;
	padding: 5px 10px 70px 10px;
	background:#F8F8F8;
	margin:0 Auto 0 Auto;
	-webkit-box-shadow:0 2px 15px #aaa;
	-moz-box-shadow:0 2px 15px #aaa;
	-ms-box-shadow:0 2px 15px #aaa;
	-o-box-shadow:0 2px 15px #aaa;
	box-shadow:0 2px 15px #aaa;
}
#content #inner-content{
	background:#fff;
	text-align:justify;
	padding:0 10px 10px 10px;
}
.shell {
	background-image: url(../img/shell.gif);
  background-position: 10px center;
  background-repeat: no-repeat;
  background-color: #111;
  color: #00FF08;
  text-shadow:1px 1px 1px #000,-1px -1px 1px #000;
  opacity:0.9;
}

blockquote:hover,
.shell:hover,
pre:hover
{
	opacity:1;
	-webkit-box-shadow:0 2px 15px #ccc;
	-moz-box-shadow:0 2px 15px #ccc;
	-ms-box-shadow:0 2px 15px #ccc;
	-o-box-shadow:0 2px 15px #ccc;
	box-shadow:0 2px 15px #ccc;
}

#pie_pagina{
	width: 820px;
	margin:-20px auto 0 auto;
	background: #FF5000;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #222, #111);
	background-image: -ms-linear-gradient(top, #222, #111);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FF5000), to(#C01106));
	background-image: -webkit-linear-gradient(top, #222, #111);
	background-image: -o-linear-gradient(top, #222, #111);
	background-image: linear-gradient(top, #222, #111);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#111',GradientType=0 );
	height:150px;
}

#agradecimientos {
	float:right;
	padding: 5px;
	text-shadow:1px 1px 1px #000,0 0 5px #000;
}

#agradecimientos h2{
	color: rgba(0,0,0,0.7);
	margin:25px 0 20px 0;
	font-size: 1.2em;
	text-shadow:0 1px 2px rgba(255,255,255,0.1);
}
#agradecimientos span{
	font-size:0.8em;
	color:#555;
}
#agradecimientos ul li{ display: inline; float:right; margin-bottom:10px;}
#agradecimientos ul li a{
	padding: 5px;
	margin-left: 10px;
	background-image: -moz-linear-gradient(top, #262626, #161616);
	background-image: -ms-linear-gradient(top, #262626, #161616);
	background-image: -webkit-linear-gradient(top, #262626, #161616);
	background-image: -o-linear-gradient(top, #262626, #161616);
	background-image: linear-gradient(top, #262626, #161616);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#262626', endColorstr='#161616',GradientType=0 );
	border:1px solid rgba(0,0,0,0.5);
	color:#FFF;
	text-shadow:-2px -2px 2px #000;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-o-border-radius:10px;
	border-radius:10px;
	-webkit-box-shadow: 1px 1px 1px #000;
	-moz-box-shadow: 1px 1px 1px #000;
	-ms-box-shadow: 1px 1px 1px #000;
	-o-box-shadow: 1px 1px 1px #000;
	box-shadow: 1px 1px 1px #000;
}

#agradecimientos ul li a:hover{
	background-image: -moz-linear-gradient(top, #111, #000);
	background-image: -ms-linear-gradient(top, #111, #000);
	background-image: -webkit-linear-gradient(top, #111, #000);
	background-image: -o-linear-gradient(top, #111, #000);
	background-image: linear-gradient(top, #111, #000);
	-webkit-box-shadow: 1px 1px 2px #444;
	-moz-box-shadow: 1px 1px 2px #444;
	-ms-box-shadow: 1px 1px 2px #444;
	-o-box-shadow: 1px 1px 2px #444;
	box-shadow: 1px 1px 2px #444;
}
#agradecimientos  a.xhtml-valido,
#agradecimientos  a.copy
{
	width:81px;
	height:31px;
	background-image:url(../img/xhtml_valido.png);
	background-color:#000;
	opacity:0.5;
}
#agradecimientos  a{
	float:right;
}
#agradecimientos  a.xhtml-valido:hover,
#agradecimientos  a.copy
{
	opacity:1;
	-webkit-box-shadow:0 0 10px #444;
	-moz-box-shadow:0 0 10px #444;
	-ms-box-shadow:0 0 10px #444;
	-o-box-shadow:0 0 10px #444;
	box-shadow:0 0 10px #444;
}
#agradecimientos a.copy{background-image:url(../img/creativecommons88x31.png);}
