div{border:0;padding:0;}
body{
	background:#EFEFEF;
	font-family: sans-serif;
	margin:0;
	padding:0;
}
@font-face {
	font-family: "neuropol";
	src: url(./../img/neuropol.ttf) format("truetype");
}
a{
	text-decoration: none;
	color: #5071BD;
}
a:hover{
	color: #D15F00;
}
h1{
	text-shadow:1px 1px 5px #FFF;
	font-size:40px
}
/* section code */
pre{
  background: #DBE7EA url(../img/code.png) no-repeat scroll 5px 5px;
  font-family:"Bitstream Vera Sans Mono",Monaco,"Lucida Console",monospace;
  margin: 10px 5px;
  padding:10px 10px 10px 35px;
  color: #1A1A1A;
  border: 1px solid #bbb;
  width: 725px;
  overflow: auto;
  white-space: pre;
}
pre:hover{
	background-color: #d6f1f9;
}
p code{
	background:#fdfdfd;
	font-family:"Bitstream Vera Sans Mono",Monaco,"Lucida Console",monospace;
	font-size:0.9em;
	border: 1px solid #ddd;
	color:#222;
}
/* layout section */
.sica{
	color:#FF4800;
	font-family: "neuropol";
}

#head{
	width:800px;
	height:153px;
	background: #1A1A1A;
	padding:0 10px 0 10px;
	margin:0 Auto 0 Auto;
}
#head a#logoSICA{
	width: 217px;
	height:153px;
	display:block;
	float: left;
	background:URL(../img/logo_sica.png) no-repeat;
}
#head a#logoSICA:hover{
	background-position:0 -153px;
}
#head div#colaboradores{
	background:URL(../img/colaboradores.png) no-repeat;
	position:absolute;
	width:400px;
	height:177px;
	margin-left: 415px;
}
#content{
	width: 800px;
	padding: 5px 10px;
	background:#F8F8F8;
	margin:0 Auto 0 Auto;
}
#content #inner-content{
	background:#fff;
	text-align:justify;
	padding:0 10px 10px 10px;
}
p{
	text-align:justify;
}
.shell {
  background: #1A1A1A url(../img/shell.gif) no-repeat scroll 5px 5px;
  color: #00FF08;
  text-shadow:1px 1px 1px #000,-1px -1px 1px #000;
}
